<% if @customer.errors.any? %>
  <%= @customer.errors.count %>件のerrorが発生しました
  <% @customer.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>マイページ編集</h2>
      <%= form_with model: @customer, url: customers_path, local:true do |f| %>
      <div class="form-group">
        <%= f.attachment_field :image, class: "form-control-file image" %>
      </div>
      <div class="form-group">
        <label for="inputName">名前</label>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"山田太郎", class: "form-control name" %>
      </div>
      <div class="form-group">
        <label for="inputName">カナ</label>
        <%= f.text_field :name_kana, autofocus: true, id:"inputName", placeholder:"ヤマダタロウ", class: "form-control name" %>
      </div>
      <div class="form-group">
        <label for="inputImage">業務内容</label>
        <%= f.text_field :business_outline, placeholder:"フロントエンドなど...", class: "form-control business_outline" %>
      </div>
      <div class="form-group">
        <%= f.submit "更新", class: "btn btn-secondary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>