<% if @new_employee.errors.any? %>
  <%= @new_employee.errors.count %>件のerrorが発生しました
  <% @new_employee.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<p id="notice"></p>
<div class="container border-bottom pt-5">
  <h4>
    編集ページ
  </h4>
</div>
  <div class="container p-5">
    <%= form_with model: @new_employee, url: member_new_employee_path, local:true do |f| %>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark">
          <div class="customer-image">
            <%= attachment_image_tag @new_employee, :new_employee, :fill, fallback: "no_image.jpg"%>
          </div>
          <%= f.attachment_field :new_employee, placeholder: "プロフィール画像", class: "form-control-file image pt-4" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
           <table class="table-center table-form">
              <td class="form-group"><%= f.text_field :last_name, autofocus: true, id:"inputName", class: "form-control name" %></td>
              <td class="form-group"><%= f.text_field :first_name, autofocus: true, id:"inputName", class: "form-control name" %></td>
            </tr>
            <tr>
              <td class="form-group"><%= f.text_field :last_name_kana, autofocus: true, id:"inputName", class: "form-control name" %></td>
              <td class="form-group"><%= f.text_field :first_name_kana, autofocus: true, id:"inputName", class: "form-control name" %></td>
            </tr>
          </table>
          <tr>
            <td class="form-group">
              <%= f.text_area :introduction, placeholder:"大学で学んだことや今後行なっていきたい業務など...", class: "form-control business_outline" %>
            </td>
          </tr>
          <tr>
            <td class="form-group"><%= f.email_field :email, class: "form-control business_outline" %></td>
          </tr>
        </div>
      </div>
    </div>
    <div class="form-group text-right">
      <%= f.submit "更新", class: "btn btn-outline-secondary" %>
    </div>
    <% end %>
  </div>