<div class="container px-2">

  <div class="row justify-content-center">
    <div class="col-md-2.5 ribbon2">
      <h3>新入社員一覧</h3>
    </div>
  </div>

  <div class="col-md-9 offset-md-1">
    <div class="row item_lists">
      <% @new_employees.each do |new_employee| %>
        <div class="col-md-3 item_list">
          <%= attachment_image_tag new_employee, :new_employee, size: "200x150", format: 'jpeg', fallback: "no_image.jpg" %>
          <%= new_employee.full_name %><br>
          <%= new_employee.full_name_kana %><br>
          <%= new_employee.introduction %>
          <!--自分のマイページのみ編集ボタンの表示-->
          <% if new_employee.id == current_new_employee.id %>
            <%= link_to "編集する", edit_member_new_employee_path(new_employee.id), class:"btn btn-success" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>