<h1>商品新規登録</h1>
<%= form_with model: @item, url: admin_items_path, local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>

  <h4>商品名</h4>
  <%= f.text_field :name %>

  <h4>ジャンル</h4>
  <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank:"-- 選択してください --" %>

  <h4>販売ステータス</h4>
  <%= f.radio_button :is_active, :true %>
  <%= f.label :"販売中" %>
  <%= f.radio_button :is_active, :false %>
  <%= f.label :"販売停止中" %>

  <%= f.submit '新規登録' %>

<% end %>

<h1>商品一覧</h1>
<% @items.each do |item| %>
  <p>商品画像<%= attachment_image_tag item, :image, format: 'jpeg', size: "200x150" %><br></p>

  <p>商品名<%= link_to item.name, admin_items_path %></p>

  <p>ジャンル<%= item.genre.name %></p>

  <p>販売ステータス<% if item.is_active? == false %>
    <span>販売中</span>
  <% else %>
    <span>販売停止中</span>
  <% end %>
    <%= form_with model: @item, url: admin_items_path, local:true do |f| %>
      <%= f.label :販売ステータス %>
      <%=f.radio_button :is_active, :true %>
      <span>販売中</span>
      <%=f.radio_button :is_active, :false %>
      <span> 販売中止中</span>
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    <% end %>
  </p>

 <% end %>