<div class="position-center">
  <h4><span class="page-title">ログイン</span></h4>
</div>
<div class="space"></div>

  <%= form_with model: @new_employee, url: member_session_path, local: true do |f| %>

    <table class="table-center table-form">
      <tbody>
        <tr>
            <th class="column-narrow"><%= f.label :名前 %></th>
            <td class="column-very-wide"><%= f.full_name_field :full_name, autofocus: true, autocomplete: "full_name", placeholder: "山田太郎",:size => "40" %></td>
        </tr>
        <tr>
            <th class="column-narrow"><%= f.label :パスワード %></th>
            <td class="column-very-wide"><%= f.password_field :password, autocomplete: "current-password",:size => "40" %></td>
        </tr>
        <tr>
            <th class="column-narrow"></th>
            <td class="column-very-wide"><%= f.submit "ログイン", class: "btn btn-primary" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

<div class="space"></div>
<div class="space"></div>

<h5><span class="page-sub-title">登録がお済みでない方</span></h5>
<div class="position-center">
  <%= render "member/shared/links" %>
</div>