<div class="container">
  <div class="card-container">
    <div class="card-body">
        <form class="form">
        <legend>ログイン</legend>
          <%= form_with model: @new_employee, url: new_employee_session_path, local: true do |f| %>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@examole.com", class: "form-control input-lg" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(6文字以上)", class: "form-control input-lg" %>
            </div>
            <div class="form-group">
              <%= f.submit "ログイン", class: "btn btn-lg btn-block signup-btn btn-outline-success" %>
            </div>
            <span class="help-block">登録が済んでいない新入社員は<br>
              <%= render "member/shared/links" %>
            </span>
          <% end %>
        </form>
    </div>
  </div>
</div>