<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">カート商品</h1>
        <!--画像挿入-->
        <p class="lead text-muted">商品は全商品無料です。</br>新入社員と是非コミュニケーションを！！</p>
      </div>
    </div>
</section>
<% if @cart_items.present? %>
<div class="container mt-3">
  <div class="col-12 clearfix">
    <div class="float-right">
      <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, data: {confirm: "カート内の商品を全て 削除してもよろしいでしょうか。"}, class:"btn btn-outline-danger" %>
    </div>
  </div>
</div>
      <div class="container mt-3">
        <div class="bd-example">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">数量</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          </thead>
          <% @cart_items.each do |cart_item| %>
          <tbody>
            <tr>
              <!--文字が上下中央になっていない class="d-flex align-items-center"-->
              <th scope="row"><%= cart_item.item.name %></th>
              <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch, local:true do |f| %>
                <td>
                  <%= f.hidden_field :item_id, value: cart_item.item.id %>
                  <%= f.hidden_field :customer_id, value: cart_item.customer.id %>
                  <%= f.select :amount, *[1..10] %> 個
                </td>
                <td>
                  <%= f.submit '変更', class:"btn btn-outline-success" %>
                </td>
              <% end %>
              <td>
                <%= link_to '削除', cart_item_path(cart_item.id), method: :delete, data: {confirm: "商品を1件 削除してもよろしいでしょうか。"}, class:"btn btn-outline-danger" %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>
        </div>
      </div>

<div class="container">
  <%= link_to "買い物を続ける", items_path, class:"btn btn-outline-primary" %>
</div>
<div class="container">
  <div class="row">
    <div class="mx-auto"><%= link_to "注文に進む", new_order_path, class:"btn btn-outline-success mx-auto mt-3" %></div>
  </div>
</div>

<!--#もしカート内に商品がない場合、商品一覧へ-->
<% else %>
  <div class="position-center">
    カート内に商品がありません<br>
    <%= link_to "買い物を続ける", items_path, class:"btn btn-outline-success" %>
  </div>
<% end %>