<div class="container">
  <div class="card-container">
    <div class="card-body">
        <legend>新規会員登録</legend>
          <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <%= f.text_field :last_name, autofocus: true, placeholder: "姓", class: "form-control input-lg" %>
                </div>
                <div class="col-xs-6 col-md-6">
                  <%= f.text_field :first_name, autofocus: true, placeholder: "名", class: "form-control input-lg" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6 col-md-6">
                  <%= f.text_field :last_name_kana, autofocus: true, placeholder: "セイ", class: "form-control input-lg"  %>
                </div>
                <div class="col-xs-6 col-md-6">
                  <%= f.text_field :first_name_kana, autofocus: true, placeholder: "メイ", class: "form-control input-lg" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@examole.com", class: "form-control input-lg" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(6文字以上)", class: "form-control input-lg" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認)", class: "form-control input-lg" %>
            </div>
            <div class="form-group">
              <%= f.submit "新規登録", class: "btn btn-lg btn-block signup-btn btn-outline-success" %>
            </div>
            <span class="help-block">既に登録済みの社員は<br>
              <%= render "public/shared/links" %>
            </span>
          <% end %>
    </div>
  </div>
</div>