<div class="container">
  <div class="d-flex align-items-center p-1 rounded shadow-sm">
    <img class="me-3" src="/assets/logo_simple.jpg" alt="" width="60" height="60">
    <div class="mt-4">
      <p>先輩社員と交流していきましょう！</p>
    </div>
  </div>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h3 class="border-bottom pb-2 mb-0">先輩社員</h3>
      <% @customers.each do |customer| %>
      <div class="d-flex text-muted pt-3">

        <svg class="bd-placeholder-img" width="32" height="32" role="img">
            <%= attachment_image_tag customer, :customer, size: "32x32", format: 'jpeg', fallback: "no_image.jpg" %>
        </svg>

        <p class="pb-3 mb-0 mx-1 small lh-sm border-bottom">
          <%= link_to member_customer_path(customer.id) do %>
          <strong class="d-block text-gray-dark">
            <%= customer.full_name %> (<%= customer.full_name_kana %>)
          </strong>
          <% end %>
          <%= customer.business_outline %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>