<div class="container">
  <div class="d-flex align-items-center p-1 rounded shadow-sm">
    <a>
      <%= image_tag'logo_simple.jpg', class: "logo-simple" %>
    </a>
    <div class="mt-4">
      <p>先輩社員と交流していきましょう！</p>
    </div>
  </div>
</div>
  <div class="container p-5">
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <div class="customer-image"><%= attachment_image_tag @customer, :customer, format: 'jpeg', fallback: "no_image.jpg" %></div>
          <div class="container">
            <div class="row mt-2">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2><%= @customer.full_name %></h2><p>(<%= @customer.full_name_kana %>)</p>
          <p><%= @customer.business_outline %></p>
        </div>
      </div>
    </div>
  </div>