<div class="container">
  <div class="d-flex align-items-center p-1 rounded shadow-sm">
    <a>
      <%= image_tag'logo_simple.jpg', class: "logo-simple" %>
    </a>
    <div class="mt-4">
      <p>先輩社員と交流していきましょう！</p>
    </div>
  </div>
</div>

<div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class='col-md-12 offset-md-1'>
        <div class='pt-5'>
          <h4>注文履歴詳細</h4>
        </div>
        <table class='table table-hover table-inverse'>
          <tr>
            <th>購入者</th>
            <td><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
          </tr>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at.strftime('%Y/%m/%d  %H:%M') %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td><%= @order.address_i18n %><%#= t("enums.order.address.#{@order.address}") %></td>
          </tr>
          <tr>
            <th>注文ステータス</th>
            <td>
              <%= form_with model: @order, url: member_order_path, local:true do |f| %>
                <%= f.collection_select(:order_status, Order.order_statuses_i18n, :first, :last, {selected: @order.order_status}) %>
                <%= f.submit "更新", :class=>"btn btn-outline-success"%>
              <% end %>
            </td>
          </tr>
        </table>
        <div class='row'>
          <div class='col-8'>
            <table class='table table-hover table-inverse'>
              <thead>
                <tr class="table-secondary">
                  <th>商品名</th>
                  <th>数量</th>
                </tr>
              </thead>
              <tbody>
                <% @order_detail.each do |order_detail| %>
                  <tr>
                    <td><%= order_detail.item.name %></td>
                    <td><%= order_detail.amount %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>