<!DOCTYPE html>
<html>
  <head>
    <title>WorryDelivery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="back-image">
    <div class="for-footer">
      <header>
        <!--#管理者がログイン状態-->
        <nav class="navbar navbar-expand navbar-dark bg-">
          <% if admin_signed_in? %>
            <ul class="navbar-nav">
              <li class="navbar-item">
                <%= link_to "ジャンル", admin_genres_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "社内報", admin_in_company_reports_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "商品", admin_items_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "新入社員一覧", member_new_employees_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "先輩社員一覧", member_customers_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "logo-font" %>
              </li>
            </ul>

        <!--#新入社員がログイン状態-->
        <nav class="navbar navbar-expand navbar-dark bg-">
          <% elsif new_employee_signed_in? %>
            <ul class="navbar-nav">
              <li class="navbar-item">
                <%= link_to "ジャンル", admin_genres_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "社内報", admin_in_company_reports_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "商品", admin_items_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "新入社員一覧", member_new_employees_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "先輩社員一覧", member_customers_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "logo-font" %>
              </li>
            </ul>

            <!--顧客のログイン状態-->
          <% elsif customer_signed_in? %>
            <ul class="navbar-nav">
              <li class="navbar-item">
                <%= link_to "マイページ", customers_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "新入社員一覧", new_employees_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "商品一覧", items_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "カート", cart_items_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "logo-font" %>
              </li>
            </ul>
              <!--ログインされていない場合-->
          <% else %>
            <ul class="navbar-nav">
              <li class="navbar-item p-8">
                <%= link_to "About", homes_about_path, class: "logo-font" %>
              </li>
              <li class="navbar-item px-8">
                <%= link_to "商品一覧", items_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "新規登録", new_customer_registration_path, class: "logo-font" %>
              </li>
              <li class="navbar-item">
                <%= link_to "ログイン", new_customer_session_path, class: "logo-font" %>
              </li>
            </ul>
          <% end %>
        </nav>
      </header>

      <main>
        <%= yield %>
      </main>

      <footer>
          <p>© 2022 DMMWEBCAMP SatoToru</p>
      </footer>
    </div>
  </body>
</html>
